<p id="notice"><%= notice %></p>

<h1><%= @review.title %></h1>
<div><%= image_tag @review.picture.variant(resize: "300x300") %></div> 
<div><%= @review.body %></div>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
